.menu{
    padding: 0;
    display: flex;
    border: 1px solid;
    list-style: none;
    height: 100%;
    align-items: center;
}

li{
    width: 40%;
    background: #4c4c;
    text-align: center;
}

a{
    display: block;
    padding: .3em;
    text-decoration: none;
    height: 100%;
}

a:hover{
    background: black;
    color: white;
}