.padre{
    background-color: orangered;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: wrap;
}

.hijo{
    background-color: aquamarine;
    width: 50%;
    margin: 10px;
}

img{
    width: 100%;
}

